
$yellow : #ffd618
$green : #299148
    
.navbar
    background-color: $yellow


.login-btn
    background-color: $green

body > .container
    padding: 60px 15px 0


.footer
    position: absolute
    bottom: 0
    width: 100%
    height: 60px
    line-height: 60px
    