

$family: 'Poppins'
@font-face 
    font-family: $family
    src: url('/static/fonts/Poppins/Poppins-Regular.ttf') format('truetype')


$yellow : #ffd618
$green : #299148


html,body 
    font-family: $family, Roboto, sans-serif


.navbar
    background-color: $yellow


.login-btn
    background-color: $green

body > .d-flex
    padding: 60px 15px 0
