<nav class="navbar navbar-expand-lg navbar-light justify-content-between fixed-top">
  <h1 class="navbar-brand">JUTC - Task Management System</h1>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mt-sm-2 mt-md-2 mt-lg-0 mt-2" id="navbarSupportedContent">
    <div class="ml-auto  d-flex flex-row">
        <a href="/login" class="btn login-btn text-white">Login</a>
      </div>

  </div>

  
</nav>
